.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: fit-content;
    height: 3rem;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>Li:hover {
    color: var(--orange);
    cursor: pointer;
}
@media screen and (max-width: 375px) {
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}